<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Elige un pokemon</mat-label>
    <mat-select id="pokemon-select" (selectionChange)="fetchPokemonDetail($event.value)">
      <!-- <mat-option>
        <mat-icon class="color-primary">add_circle</mat-icon>
        Crear nuevo
      </mat-option> -->
      <mat-option [value]="pokemon.name" *ngFor="let pokemon of pokemons">
        {{pokemon.name | titlecase}}
        <mat-icon class="color-danger" (click)="deletePokemon(pokemon.name)">delete</mat-icon>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button>
    <mat-icon class="color-primary">add_circle</mat-icon>
    Crear nuevo pokemon
  </button>

  <mat-card *ngIf="pokemonDetail">
    <mat-card-header class="align-center">
      <mat-card-title class="align-center">{{ pokemonNameSelected | titlecase}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img [src]="pokemonDetail.sprites.front_default" alt="Pokémon sprite">
      <h2>Tipos</h2>
      <ul class="types-list">
        <li *ngFor="let type of pokemonDetail.types">{{ type.type.name }}</li>
      </ul>
      <h2>Estadistícas</h2>
      <div class="stats-grid">
        <div *ngFor="let stat of pokemonDetail.stats" class="stat-item">
          {{ stat.stat.name }}: {{ stat.base_stat }}
          <mat-progress-bar [value]="stat.base_stat"></mat-progress-bar>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>